.left,
.right {
	width: 40rem;
}

.left {
	float: left;
	margin-left: 20rem;
}

.right {
	float: right;
	margin-right: 20rem;
}

.title h1 {
	font-size: 2rem;
}

main p,
button {
	font-size: 1rem;
}

main p {
	font-weight: 700;
}

section ul li,
aside p {
	font-size: 0.8rem;
}

